body{
    font-family:  sans-serif;
}
.menu1{
    background-color:  white;
    color:   #000000;
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-right: 0;
    
}
.menu1 a{
    font-weight: bold;
    color: yellow;
    text-decoration:none;
}
.menu1 a:hover{
    color: yellow;
    text-decoration:none;
}

.menu1 nav{
        margin-top: 35px;

}

.menu1 nav a{
    color:  #CCCCCC;
    text-decoration: underline;
}
.menu1 nav a:hover{
    color: #f8d7da;
}
.logo-pequena{
    padding-top: 17px;
}
.menu1 li{

    font-family: Optima;
    font-size: 20px;
    display: inline;
    margin-left: 5px;
}
    
    
.menu2 li a:hover{
 background-color: #000000;
 color: #FDC900;
}

hr{
    border: #FDC900 solid 3px;
}

.saibaMais img{
    box-shadow: 6px 6px 6px #333333;
    opacity: 0.5;
}
.saibaMais img:hover{
    box-shadow: 6px 6px 6px #333333;
    opacity: 1;
}
