header{
    position: relative;
}

body{
    color: darkred;
    font-family: sans-serif;
}

/*          Header         */

.menu-opcoes ul{
    font-size: 20px;
}

.menu-opcoes a{
    color: darkred;
}

.menu-opcoes ul li{
    display: inline;
    margin-left: 10px;
}

.menu-opcoes{
    position: absolute;
    bottom: 60px;
    right: 0px;
}

.container{
    margin: 0 auto;
    width: 940px;
}

.sacola{
    position: absolute;
    top: 0;
    right: 0;
}

/*          Container             */

.busca,
.menu-departamentos{
    background-color: #900;
    font-weight: bold;
    text-transform: uppercase;

    margin-right: 10px;
    width: 230px;
    float: left;
}

.menu-departamentos{
    margin-top: 10px;
    margin-bottom: 10px;
    clear: left;
}

.busca h2,
.busca form,
.menu-departamentos h2{
    margin: 10px;
}

.menu-departamentos li{
    background-color: white;
    margin-bottom: 1px;
    padding: 5px, 10px;
}

.menu-departamentos a{
    color: #333333;
    text-decoration: none;
}

.busca input{
    vertical-align: middle;
}

.busca input[type=search]{
    width: 170px;
}

.destaque{
    margin-top: 10px;
    background-color: #900;
    
}

.painel{
    margin: 10px, 0;
    padding: 10px;
    width: 445px;
}

.novidades{
    float: left;
}

.mais-vendidos{
    float: right;
}

/*             Paineis                 */

.painel li{
    display: inline-block;
    vertical-align: top;
    width: 140px;
    margin: 2px;
    padding-bottom: 10px;
}

.painel h2{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.painel a{
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}
 .novidades{
     background-color: #f5dcdc;
 }

 .mais-vendidos{
     background-color: #dcdcf5;
 }

 footer{
     background-image: url(../img/fundo-rodape.png);
     clear: both;
     padding: 20px 0;
 }

 .social li a{
     height: 32px;
     width: 32px;
     display: block;
     text-indent: -9999px;
 }

 .social a[href*="facebook.com"]{
     background-image: url(../img/facebook.png);
 }

 .social a[href*="twitter.com"]{
     background-image: url(../img/twitter.png);
 }

 .social a[href*="plus.google.com"]{
     background-image: url(../img/googleplus.png);
 }

 footer .container{
     position: relative;
 }

 .social{
     position: absolute;
     top: 12px;
     right: 0;
 }

 .social li{
     float: left;
     margin-left: 25px;
 }

 .destaque{
     position: relative;
 }

 .pause,
 .play{
     display: block;
     position: absolute;
     right: 15px;
     top: 15px;
 }

 .pause{
     border-left: 10px solid #900;
     border-right: 10px solid #900;
     height: 30px;
     width: 5px;
 }

 .play{
    border-left: 25px solid #900;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
}

.menu-opcoes a:hover{
    color: #007dc6;
}

.menu-opcoes a:active{
    color: #867dc6;
}

.menu-departamentos li ul{
     display: none;
}

.menu-departamentos li:hover ul {
     display: block;
}

.menu-departamentos ul ul li {
     background-color: #dcdcdc;
}

.menu-departamentos li li a:before {
     content: '- ';
}
